.he2{
    margin-top: 10px ;
}
.kq{

    margin-top: 10px ;
}
.x1x2{
    margin-top: 10px ;
}

button{
    margin-left: 10px;
}
.x{
    margin-top: 10px 
}
#butto{
    width: 150px;
    height: 100x;
}